/* #Estilo Geral */ 
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: auto;
}

.flex{
  display: flex;
}

h2.titulo{
  color: aliceblue;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: #f58220;
}


/* Estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(111, 111, 111);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: white;
    transform: scale(1.18);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 45px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600

}

header .btn-contato button{
    background-color: #f58220;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button{
    box-shadow: 0px 0px 8px #f5832078;
}

/* ESTILO DO TOPO DO SITE */
section .topo-do-site{
  padding: 40px 8%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1{
  color: aliceblue;
  font-size: 40px
  
}

.topo-do-site h1 span{
  color: #f58220;
}

.topo-do-site p{
  color: aliceblue;
  margin: 10px 0;
}

section .btn-contato button{
  padding: 10px 40px;
    font-size: 18px;
    font-weight: 600
}

section .btn-contato button{
  background-color: #f58220;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

section .btn-contato button{
  box-shadow: 0px 0px 8px #f5832078;
}

section a{
  color: rgb(111, 111, 111);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    border-radius: 30px;
}

section a:hover{
  background-color: #f58220;
  transform: scale(1.18);
}

/* ESTILOS DE ESPECIALIDADES */
section.especialidades{
  padding: 40px 4%;
}